<h4>Attribute Directive</h4>

<div appExample [highlightColor] [defaultColor]>
  This is Attribute Directive
</div>


<h4>*ngIf</h4>

<div *ngIf="switch">
  This is If
</div>

<div *ngIf="switch; else myElse">Content to render when condition is true.</div>
<ng-template #myElse>Content to render when condition is false.</ng-template>
<br>

<div *ngIf="switch; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>ThenElse is If.</ng-template>
<ng-template #elseBlock>ThenElse is Else.</ng-template>
<br>

<button (click)="onSwitch()">Toggle</button>


<h4>*ngFor</h4>

<ul>
  <li *ngFor="let friend of friendsList; let i=index; let last=first" [hidden]="last">{{i}}-{{friendsList[i]}}</li>
</ul>


<h4>*ngSwitch</h4>

<div [ngSwitch]="value">
  <p *ngSwitchCase="100">100</p>
  <p *ngSwitchCase="200">200</p>
  <p *ngSwitchCase="100">100</p>
  <p *ngSwitchDefault>Default Case</p>
</div>

<h4>ngClass & ngStyle</h4>

<div [ngClass]={myColor:onLoad()}>first ngClass</div>

<div [ngClass]={border:true,background:true}>Second ngClass</div>
