<div class="col-lg-12">

  <h2>User Details</h2>
  <br>

  <button class="btn btn-success" (click)="adduser()">Add User</button>&nbsp;
  <button class="btn btn-danger" (click)="logOutUser()">Logout</button>

  <br><br>

  <table class="table table-stripped table-responsive table-hover">

    <thead>
      <th class="text-hide">Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Action</th>
    </thead>

    <tbody>
      <tr *ngFor='let emp of users'>
        <td class="text-hide">{{emp.id}}</td>
        <td>{{emp.firstname}}</td>
        <td>{{emp.lastname}}</td>
        <td> {{emp.email}}</td>
        <td>
          <button class="btn btn-danger" (click)=" deleteUser(emp)">Delete</button>&nbsp;
          <button class="btn btn-primary" (click)="editUser(emp)">Edit</button>&nbsp;
        </td>
      </tr>

      <tr *ngIf="!users || users.length==0">
        <th colspan="5">
          <p class="text-right text-danger"> SORRY..! No User Available..!</p>
        </th>
      </tr>
    </tbody>

  </table>

</div>