doctype html
html
    head
        title Employee Management System
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous")
        style(type="text/css").
            table {
                width: 80%
            }
            th{
                text-align:center;
            }
    body
        div.container
            h1 Employee Management System
            br
            block content
            br
            hr
            footer
                p &copy; 2019 to Developers Community. All Rights Reserved.