extends layout
block content
  div.row
    div.col-md-4
      h3 Update Employee
      form(method='post',action='/emp/updatedata/'+data._id)
        #form.group
          label Employee ID:
          input.form-control(type="text",name="empID",value=data.empID)
        #form.group
          label Employee Name:
          input.form-control(type="text",name="empName",value=data.empName)
        #form.group
          label Employee Department:
          input.form-control(type="text",name="empDept",value=data.empDept)
        #form.group
          label Employee Salary:
          input.form-control(type="text",name="empSalary",value=data.empSalary)
        br
        input.btn.btn-primary(type="submit",value="Update")