<div class="col-md-6">
    <h2 class="text-center">Edit Mobile</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" formControlName="name" placeholder="name" name="name" class="form-control" id="name">
      </div>
      <div *ngIf='submitted && editForm.controls.name.errors' class="error">
        <div *ngIf='editForm.controls.name.errors' class="alert alert-warning">
          Name is Required
        </div>
      </div>
  
      <div class="form-group">
        <label for="category">Category:</label>
        <input formControlName="category" placeholder="category" name="category" class="form-control" id="category">
      </div>
      <div *ngIf='submitted && editForm.controls.category.errors' class="error">
        <div *ngIf='editForm.controls.category.errors' class="alert alert-warning">
          Category is Required
        </div>
      </div>
  
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" formControlName="price" placeholder="price" name="price" class="form-control" id="price">
      </div>
      <div *ngIf='submitted && editForm.controls.price.errors' class="error">
        <div *ngIf='editForm.controls.price.errors' class="alert alert-warning">
          Price is Required
        </div>
      </div>
  
      <button class="btn btn-success">Save</button>
    </form>
  </div>